.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 20px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ul-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-menu {
  margin: 0 20px;
}

.li-menu a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.li-menu a:hover {
  color: #2ecc71;
}

.cart-widget {
  display: flex;
  align-items: center;
}
